body {
  background-color: #242538;
  font-family: Helvetica;
  color: #f0f0f5;
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  border: 5px solid #242538;
  border-radius: 20px;

  overflow: hidden;
}

.main h1 {
  background-color: #1b1c2e;
  display: block;
  font-size: 2em;
  padding-block-start: 0.67em;
  padding-block-end: 0.67em;
  padding-left: 20px;
  margin: 0;
  font-weight: bold;
}

.content {
  background-color: #b6b6cc;
  width: min(90vw, 80vh);
  height: min(90vw, 80vh);
}

/* place your styles below */

.header {
  text-align: center;
}
.textTileContainer {
  padding: 10px;
  background-color: #63518b;
  margin-top: 5px;
}

.textTileContainer.dark {
  background-color: rgb(21, 9, 22);
}

.textTileContainer.mid {
  background-color: rgb(109, 70, 96);
}
.buttonTileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonTileButton {
  padding: 8px 16px;
  background-color: lightblue;
  border: none;
  cursor: pointer;
  transition: ease-in-out;
}
.buttonTileButton:hover {
  background-color: #63518b;
}
.horizontalSplitterContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-top: 5px;
}

.verticalSplitterContainer {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 10px;
  position: relative;
}

.imageTileImage {
  max-width: 400px;
  height: 400px;
  margin-right: 20px;
  display: flex;
  margin-top: 20px;
}
.splitHeader {
  margin: 0;
}

.exampleList {
  list-style-type: none;
  padding: 0;
}

.exampleItem {
  margin-bottom: 10px;
}
